<!DOCTYPE html>
<html lang="en" ng-app="lostfinder">
<head>
    <meta charset="UTF-8">
    <title>Пашукай</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaawgBdOuBo_TpuhmKoCUFJBNO2qvWwXw&sensor=true&libraries=drawing,places"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>

    <script src="properties/globalProperties.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/mapController.js"></script>
    <script src="js/controllers/allPostsController.js"></script>
    <script src="js/controllers/headerController.js"></script>
    <script src="js/controllers/postViewController.js"></script>
    <script src="js/controllers/globalMapController.js"></script>
    <script src="js/controllers/createPostController.js"></script>

    <script src="js/directives/googleMap.js"></script>
    <script src="js/directives/postTile.js"></script>

    <script src="js/services/dictionaryService.js"></script>
    <script src="js/services/mapService.js"></script>
    <script src="js/services/authInjector.js"></script>
    <script src="js/services/authService.js"></script>
    <script src="js/filters/hideText.js"></script>

    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

</head>
<body ng-controller="headerController">

<header>
    <md-toolbar id="toolbar" class="md-whiteframe-1dp">
        <div class="md-toolbar-tools" layout="row">
            <div hide-sm hide-xs class="md-headline" id="logo" flex="20" layout="row" layout-align="end center">
                <a hide-sm hide-xs href="#/"><span id="titleO"></span><span id="titleStick"></span>
                    <span id="shukay">ПАШУКАЙ</span>
                </a>
            </div>
            <div layout="row" layout-align="center center" flex>
                <md-autocomplete
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-min-length="2"
                        placeholder="Поиск">
                    <md-item-template>
                        <span>{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        К сожалению ничего на нашлось по запросу "{{ctrl.searchText}}" ...
                    </md-not-found>
                </md-autocomplete>
                <md-button href="#/" ng-class="{'active': $location.path() == '/'}">Объявления</md-button>
                <md-button href="#/map" ng-class="{'active': $location.path() == '/map'}">Карта</md-button>
            </div>
            <div flex="20" layout="row" layout-align="end center">
                <md-button ng-hide="logIn" ng-click="showLoginDialog($event)">Вход</md-button>
                <md-button ng-show="logIn">Выход</md-button>
            </div>
        </div>
    </md-toolbar>
</header>

<div layout="row" id="allContent">

    <div flex layout="row" layout-align="center start" class="md-padding">
        <div flex flex-gt-md="70" layout="column" md-whiteframe="1" class="md-padding">
            <md-input-container>
                <label for="typeFilter">Тип объявления</label>
                <md-select id="typeFilter" ng-model="filter.postType">
                    <md-option selected="true">все</md-option>
                    <md-option ng-repeat="type in postTypes" value="{{type.name}}">
                        {{type.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <div ng-view id="view" ng-cloack flex="60" class="md-padding">
        <!--content-->
    </div>

    <div flex class="md-padding" layout="row" layout-align="center start">
        <div flex flex-gt-md="70" md-whiteframe="1" layout="row" layout-align="center center">
            <a flex href="#/createPost">
                <div class="md-padding" layout="column" layout-align="center center">
                    <md-button href="#/createPost" class="md-fab md-primary" aria-label="new post">
                        <md-icon md-svg-src="icons/add_doc.svg"></md-icon>
                    </md-button>
                    <div class="md-padding md-subhead">
                        <p class="upperCase textCenter">СОЗДАТЬ ОБЪЯВЛЕНИЕ</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

</body>
</html>