<!DOCTYPE html>
<html lang="en" ng-app="lostfinder">
<head>
    <meta charset="UTF-8">
    <title>Пашукай</title>

    <!--google map-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaawgBdOuBo_TpuhmKoCUFJBNO2qvWwXw&sensor=true&libraries=drawing,places"></script>
    <!---->

    <!--bower-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <!---->

    <!--controllers-->
    <script src="properties/globalProperties.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/mapController.js"></script>
    <script src="js/controllers/allPostsController.js"></script>
    <script src="js/controllers/bodyController.js"></script>
    <script src="js/controllers/postViewController.js"></script>
    <script src="js/controllers/globalMapController.js"></script>
    <script src="js/controllers/createPostController.js"></script>
    <!---->

    <!--directives-->
    <script src="js/directives/gmap/googleMap.js"></script>
    <script src="js/directives/gmap/locationButton.js"></script>
    <script src="js/directives/gmap/searchBox.js"></script>
    <script src="js/directives/gmap/drawingFunctions.js"></script>
    <script src="js/directives/gmap/markersLoader.js"></script>
    <script src="js/directives/gmap/postsLoader.js"></script>
    <script src="js/directives/createPostButton.js"></script>
    <script src="js/directives/postTile.js"></script>
    <!---->

    <!--services-->
    <script src="js/services/dictionaryService.js"></script>
    <script src="js/services/authInjector.js"></script>
    <script src="js/services/authService.js"></script>
    <script src="js/services/loginDialog.js"></script>
    <script src="js/filters/hideText.js"></script>
    <!---->

    <!--styles-->
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!---->

</head>
<body ng-controller="bodyController">

<header>
    <md-toolbar id="header-toolbar" class="md-whiteframe-1dp">
        <div class="md-toolbar-tools" layout="row">
            <div class="md-headline" id="logo" flex="20" layout="row" layout-align="end center">
                <a hide show-gt-md href="#/">
                    <span id="titleO"></span><span id="title-stick"></span>
                    <span id="shukay">ПАШУКАЙ</span>
                </a>
            </div>
            <div layout="row" layout-align="center center" flex>
                <md-autocomplete
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-min-length="2"
                        placeholder="Поиск">
                    <md-item-template>
                        <span>{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        К сожалению ничего на нашлось по запросу "{{ctrl.searchText}}" ...
                    </md-not-found>
                </md-autocomplete>
                <md-button href="#/" ng-class="{'active': $location.path() == '/'}">Объявления</md-button>
                <md-button href="#/map" ng-class="{'active': $location.path() == '/map'}">Карта</md-button>
            </div>
            <div flex="20" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate" ng-show="model.authLoading" class="md-hue-2" md-diameter="40px"></md-progress-circular>
                <md-button ng-hide="model.logIn" ng-click="loginDialog.show($event)" ng-disabled="model.authLoading">Вход</md-button>
                <md-button ng-show="model.logIn" ng-click="logout()">Выход</md-button>
            </div>
        </div>
    </md-toolbar>
</header>

<div layout="row" id="allContent">

    <div flex layout="row" layout-align="center start" class="md-padding" ng-cloak>
        <div flex flex-gt-md="70" layout="column" md-whiteframe="1" class="md-padding" ng-show="postFilter.show">
            <md-input-container>
                <label for="typeFilter">Тип объявления</label>
                <md-select id="typeFilter" ng-model="postFilter.postType">
                    <md-option selected="true">все</md-option>
                    <md-option ng-repeat="(key, value) in postTypes" value="{{key}}">
                        {{value}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <div ng-view flex="60" class="md-padding" id="ngView">
        <!--content-->
    </div>

    <div flex class="md-padding">
        <create-post-button></create-post-button>
    </div>

</div>

</body>
</html>