
<div ng-show="nothingToShow" flex layout="row" layout-align="center center" md-whiteframe="1" class="md-padding borderRadius">
    <p class="md-subhead">К сожалению, ничего не нашлось...</p>
</div>

<md-grid-list md-cols-xs="1" md-cols-gt-xs="2" md-cols-gt-md="3" md-cols-xl="4"
              md-row-height="4:5" md-row-height-xl="2:3" md-gutter="20px">
    <md-grid-tile ng-repeat="post in posts" md-whiteframe>
        <div layout="column" layout-fill layout-align="space-between stretch">
            <md-grid-tile-header layout="row" class="md-padding postTileHeader">
                <!--<span class="postType"-->
                      <!--ng-style="post.postType.name == types.lost.name ? { background: types.lost.color }-->
                                                                      <!--: { background: types.find.color }">-->
                <!--</span>-->
                <h5>{{post.postType.name | uppercase}}</h5>
            </md-grid-tile-header>
            <img class="postTileImage" flex="50" ng-src="{{imageLink}}">
            <div flex="30" layout="column" class="md-padding">
                <h4 class="md-title upperLetter">{{post.title | hideText: 20}}</h4>
                <p>{{post.description | hideText: 80}}</p>
            </div>
            <div layout="row">
                <md-button href="#/posts/{{post.id}}">Подробнее</md-button>
            </div>
        </div>
    </md-grid-tile>
</md-grid-list>




