<div layout="row" class="md-padding">

    <div flex>

    </div>

    <md-content id="createPostPage" layout="row" md-whiteframe="1" flex="60">
        <div layout="column" flex>
            <div layout="row" layout-align="start center" class="md-padding" id="createPostHeader">
                <h5 class="md-title upperLetter" flex>Новое объявление</h5>
            </div>
            <form name="newPostForm" layout="column" class="md-padding" novalidate>
                <div layout="row">
                    <div layout="column" flex="50">
                        <div class="paddingBottom" layout="row">
                            <p class="md-subhead">Выберите тип объявления:</p>
                            <md-radio-group ng-model="newPost.type" class="md-primary" layout="row" flex
                                            layout-align="space-around center">
                                <md-radio-button ng-repeat="type in postTypes" ng-value="type">{{type.name}}
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                        <md-input-container md-no-float>
                            <p class="md-subhead">Заголовок:</p>
                            <input minlength="5" md-maxlength="50" placeholder="Краткое описание" required
                                   name="title" ng-model="newPost.title">
                            <div ng-messages="newPostForm.title.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'md-maxlength']">
                                    Заголовок должен обязательно содержать от 5 до 50 символов.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container md-no-float>
                            <p class="md-subhead">Подробное описание:</p>
                                <textarea minlength="10" md-maxlength="300" name="description"
                                          ng-model="newPost.description"
                                          placeholder="Опишите подробно характер объявления" required
                                          rows="5"></textarea>
                            <div ng-messages="newPostForm.description.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'md-maxlength']">
                                    Описание должно обязательно содержать от 10 до 300 символов.
                                </div>
                            </div>
                        </md-input-container>
                        <div>
                            <p class="md-subhead">Введите несколько ключевых слов:</p>
                            <md-chips name="hashTags" ng-model="hashTags" placeholder="Ключевые слова"
                                      md-separator-keys="separatorKeys" md-max-chips="5" required>
                            </md-chips>
                            <div ng-messages="newPostForm.hashTags.$error" role="alert">
                                <div ng-message="md-max-chips">Максимум 5 ключевых слов.</div>
                            </div>
                        </div>
                    </div>
                    <div flex="50" layout="column" layout-align="start start" id="photoDiv">
                        <div id="postCreatePhoto">
                        </div>
                        <div layout="row" layout-align="start center">
                            <p class="md-subhead">Загрузите фотографии:</p>
                            <md-button type="file" class="md-raised">Открыть...</md-button>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="start center">
                    <md-icon md-svg-src="icons/location_marker.svg"></md-icon>
                    <p class="md-subhead paddingTopBottom">Отметьте на карте расположение:</p>
                </div>
                <google-map id="postCreateMap" post="newPost" drawing location searchbox></google-map>
                <div layout="row" class="paddingTopBottom">
                    <div layout="column" flex="50">
                        <p class="md-subhead paddingTop">Контакты для связи:</p>
                        <div ng-repeat="contact in newPost.contacts" layout="column">
                            <ng-form name="contactsForm" layout="row" layout-align="start start">
                                <md-input-container md-no-float>
                                    <md-icon md-svg-src="icons/phone.svg"></md-icon>
                                    <input name="phone" ng-model="contact.value" placeholder="Номер телефона"
                                           ng-pattern="phoneRegExp" required>
                                    <div ng-messages="contactsForm.phone.$error" role="alert">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Введите номер в формате (12) 345-67-89
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-button class="md-icon-button" ng-click="deleteContact($index)"
                                           ng-show="deleteContactButton" aria-label="add contact">
                                    <md-icon md-svg-icon="icons/close_black_48px.svg"></md-icon>
                                </md-button>
                            </ng-form>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-button ng-click="addContact()" ng-disabled="disableContact"
                                       class="md-fab md-mini md-primary" aria-label="add contact">
                                <md-icon md-svg-src="icons/add_plus.svg"></md-icon>
                            </md-button>
                            <p ng-hide="disableContact">Ещё один номер</p>
                            <p ng-show="disableContact">Максимум 3 номера</p>
                        </div>
                    </div>
                    <div layout="column" flex="50" class="paddingTopBottom">
                        <p class="md-subhead">Срок подачи объявления:</p>
                        <md-input-container md-no-float>
                            <input name="lifetime" ng-model="newPost.lifetime" placeholder="количество дней"
                                   type="number" max="31" min="1" required>
                            <div ng-messages="newPostForm.lifetime.$error" role="alert">
                                <div ng-message-exp="['required', 'max', 'min', 'pattern']">Срок подачи объявления от 1
                                    до 31 дня.
                                </div>
                            </div>
                        </md-input-container>
                        <md-checkbox ng-model="rulesConfirm" class="md-primary">
                            Согласен с <a href="#/" class="underlineText">правилами</a> размещения.
                        </md-checkbox>
                        <div layout="row" layout-align="start center">
                            <md-button id="publicButton" class="md-primary md-raised"
                                       ng-click="savePost()" ng-disabled="false">
                                Опубликовать
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-content>

    <div flex>

    </div>
</div>