<form ng-init="loadItems()">

    <p>Dictionary list
        <select  onchange="location = this.value">
            <option value=""></option>
            <option value="#/dictionaries/postTypes">post types</option>
            <option value="#/dictionaries/hashTags">hashtags</option>
            <option value="#/dictionaries/contactTypes">contact types</option>
        </select>
    </p>

    <p>{{ uri }}</p>
    <p>Add
        <input type="text" ng-model="item.name"/>
        <input class="w3-btn w3-green w3-ripple" type="button" value="Add" ng-click="addSubmit(item)"/>
    </p>

    <p>Find <input type="text" ng-model="search"/></p>

    <div ng-show="editMode" class="hideItem">
        <p>Edit mode
            <input type="text" ng-model="editItem.name"/>
            <input class="w3-btn w3-green w3-ripple" type="button" value="Submit" ng-click="onEditSubmit()"/>
            <input class="w3-btn w3-dark-grey w3-ripple" type="button" value="Cancel" ng-click="onEditCancel()"/>
        </p>
    </div>

    <table class="w3-table w3-bordered w3-striped w3-border">
        <thead>
        <tr class="w3-teal">
            <th>No</th>
            <th ng-click="sort('id')">Id</th>
            <th ng-click="sort('name')">Name</th>
            <th>Control</th>
        </tr>
        </thead>
        <tr ng-repeat="item in items | orderBy: order | filter: search " ng-mouseenter="showControlButtons($index)"
            ng-mouseleave="showControlButtons($index)">
            <td>{{ $index + 1 }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                <button class="w3-btn w3-blue w3-ripple" ng-click="onActionEdit(item)">&#9998; Edit</button>
                <button class="w3-btn w3-dark-grey w3-ripple" ng-click="onActionDelete(item)">&#10006; Delete</button>
            </td>
            <!--<td ng-show="item.ctrlButtons" class="hideItem" >-->
            <!--<div ng-include="'../layout/ctrlButtons.html'"></div>-->
            <!--</td>-->
        </tr>
    </table>
</form>
