<div layout="row">

    <div flex flex-sm="25" hide-xs class="md-padding" layout="row" layout-align="center start">
        <div flex="60" md-whiteframe="1" layout="row" layout-align="start start" id="postsFilter">
            <div class="md-padding" layout="column">
                <md-radio-group ng-model="filter.type" class="md-primary">
                    <label>Тип</label>
                    <md-radio-button ng-repeat="type in types" ng-value="$index" ng-class="{ 'md-checked': $first }">
                        {{type.name}}
                    </md-radio-button>
                </md-radio-group>
                <md-input-container>
                    <h4>Города</h4>
                    <label>выберите город</label>
                    <md-select ng-model="filter.cities" multiple>
                        <md-optgroup label="Города">
                            <md-option ng-value="city" ng-repeat="city in cities">
                                {{city}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>

    <div ng-cloack flex="60" flex-sm flex-xs class="md-padding">
        <md-grid-list md-cols-xs="1" md-cols-gt-xs="2" md-cols-gt-md="3" md-cols-xl="4"
                      md-row-height="2:3" md-gutter="20px">
            <md-grid-tile ng-repeat="post in posts" md-whiteframe>
                <div layout="column" layout-fill layout-align="space-between stretch">
                    <div layout="row" class="md-padding">
                        <span class="postType"
                              ng-style="post.type == types.lost.name ? { background: types.lost.color } : { background: types.find.color }"></span>
                        <h5>{{post.type | uppercase}}</h5>
                    </div>
                    <img flex="60" flex-xl="45" ng-src={{post.img}}>
                    <div layout="column" class="md-padding">
                        <h4 class="md-title">{{post.title}}</h4>
                        <p>{{description | hideText: 80}}</p>
                    </div>
                    <div layout="row">
                        <md-button href="#/post">Подробнее</md-button>
                    </div>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>

    <div flex class="md-padding" hide-sm hide-xs>

    </div>

</div>