<div layout="column" class="md-padding">
    <div layout="row" flex>
        <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="user.password">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="login()">Войти</md-button>
    </div>
    <div layout="row" flex layout-align="center center">
        <md-button class="md-raised" ng-click="oauth('facebook')">facebook</md-button>
        <md-button class="md-raised" ng-click="oauth('google')">google</md-button>
    </div>
</div>
