<div layout="row" layout-align="center start" flex>
    <div flex flex-gt-md="70" md-whiteframe="1" layout="row" layout-align="center center">
        <a flex href="#/createPost">
            <div class="md-padding" layout="column" layout-align="center center">
                <md-button href="#/createPost" class="md-fab md-primary" aria-label="new post">
                    <md-icon md-svg-src="icons/add_doc.svg"></md-icon>
                </md-button>
                <div class="md-padding md-subhead">
                    <p class="uppercase-text centred-text">СОЗДАТЬ ОБЪЯВЛЕНИЕ</p>
                </div>
            </div>
        </a>
    </div>
</div>
