<div layout="column" layout-align="space-between stretch">
    <div layout="row" class="md-padding post-tile-header">
        <h5>{{displayedPost.postType.name | uppercase}}</h5>
    </div>
    <img class="post-tile-image" flex="60" ng-src="{{imageLink}}">
    <div flex="30" layout="column" class="md-padding">
        <h4 class="md-title uppercase-first-letter">{{displayedPost.title}}</h4>
        <p>{{displayedPost.description | hideText: 80}}</p>
    </div>
    <div layout="row">
        <md-button href="#/posts/{{displayedPost.id}}">Подробнее</md-button>
    </div>
    <div flex="5"></div>
</div>