<div layout="column" layout-fill layout-align="space-between stretch">
    <div layout="row" class="md-padding">
                        <span class="postType"
                              ng-style="post.type == types.lost.name ? { background: types.lost.color } : { background: types.find.color }"></span>
        <h5>{{post.type | uppercase}}</h5>
    </div>
    <img flex="60" flex-xl="45" ng-src={{post.img}}>
    <div layout="column" class="md-padding">
        <h4 class="md-title">{{post.title}}</h4>
        <p>{{post.description | hideText: 80}}</p>
    </div>
    <div layout="row">
        <md-button href="#/post">Подробнее</md-button>
    </div>
</div>
