/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

/**/

body {
    min-width: 960px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#allContent {
    background: #2a2f27 url("../img/mainbg.jpg") no-repeat fixed center / cover;
    min-height: 100vh;
}

/*logo*/
#logo {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 3px;
}

#title-stick {
    display: inline-block;
    position: relative;
    left: -5px;
    top: 11px;
    width: 20px;
    border: 1px solid white;
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(35, 35, 35, 0.83);
    transform: rotate(45deg);
}

#titleO {
    left: 3px;
    top: 7px;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 1px 1px 2px 1px rgba(35, 35, 35, 0.83);
}

#shukay {
    position: relative;
    left: -20px;
}

/**/

#header-toolbar {
    background: #263238;
}

/*header buttons*/
a.md-button.md-ink-ripple.active {
    background-color: #00796B;
}

/**/

/*title*/

.post-tile-header {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    border-radius: 2px 2px 0 0;
}

.post-tile-image {
    border-radius: 2px 2px 0 0;
}

.post-tile {
    background: white;
    border-radius: 2px;
}

/**/

/*map*/

google-map {
    min-height: 300px;
    width: 100%;
}

#global-map {
    height: 80vh;
    min-height: 600px;
}

#location-button {
    background: url("../icons/location_icon.svg") white no-repeat center / contain;
    width: 27px;
    height: 27px;
    margin-right: 10px;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

#delete-markers-button {
    margin: 10px 5px 5px 0;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

#location-button:hover, #delete-markers-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#search-box {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    margin-top: 10px;
    text-overflow: ellipsis;
    width: 30%;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 32px;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#search-box:focus {
    border-color: #4d90fe;
}

/**/

/*post view*/

#post-view-description {
    background: #F2FCE2;
    border-left: 1px solid #E0E0E0;
}

#post-view-map-detail {
    background: #F2FCE2;
    border-top: 1px solid #E0E0E0;
    min-height: 120px;
}

#post-view-photos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.76);
}

#post-view-content {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    min-height: 300px;
}

/**/

/*post create*/

#public-post-button, md-input-container {
    margin: 0 !important;
}

.text-area-limit-height {
    max-height: 150px;
}

#photos-block {
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 5px 0 5px 0;
    background-color: rgba(152, 152, 152, 0.12);
}

.photo-container {
    position: relative !important;
}

.delete-photo-button {
    top: 0;
    left: 0;
    position: absolute !important;
}

.create-post-photos {
    margin: 3px;
    padding: 2px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    max-height: 150px;
    max-width: 240px;
}

.create-post-photos img {
    min-height: 100%;
}

/*Other*/

.remove-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}

.remove-padding {
    padding: 0 !important;
}

.md-select-fix {
    top: -3px;
    left: 2px;
}

.md-select-menu-container, .md-whiteframe-1dp {
    background: white;
}

.margin-left-10 {
    margin-left: 10px;
}

.border-bottom-1 {
    border-bottom: 1px solid #E0E0E0;
}

.centred-text {
    text-align: center;
}

.uppercase-text {
    text-transform: uppercase;
}

.padding-top-bottom-10 {
    padding: 10px 0 10px 0;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-right-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.uppercase-first-letter:first-letter {
    text-transform: uppercase;
}

.underline-text {
    text-decoration: underline;
}

md-icon {
    margin: 0 !important;
}

#facebookButton {
    background: url("../img/facebook_button.png") no-repeat center / cover;
}

#googleButton {
    background: url("../img/google_button.png") no-repeat center / cover;
}

.border-radius-2 {
    border-radius: 2px;
}